@{
  Layout = "_Layout";
  List<Location> locations = ViewBag.allLocations;
}

@model Factory.Models.Machine
@using Factory.Models

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class="text-danger" })</p>
<p>@Html.ValidationMessageFor(model => model.LocationId, "", new { @class="text-danger" })</p>

@if (locations.Count == 0)
{
  <p>Please add a location before hiring an engineer.</p>
  @Html.ActionLink("Add Factory Location", "Create", "Locations", new { @class = "btn" })
}
else
  {
  <h4>Add Machine</h4>
  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.LastMaintenance)
    @Html.TextBoxFor(model => model.LastMaintenance, new { type = "datetime-local"})

    @Html.LabelFor(model => model.Location)
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.Status)
    @Html.DropDownList("Status")

    <input type="submit" value="Add Machine" class="btn" />
  }
}