@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class="text-danger" })</p>

<h4>Add Engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  @Html.LabelFor(model => model.Idle)
  @Html.RadioButtonFor(model => model.Idle, "true")
  @Html.RadioButtonFor(model =>model.Idle, "false")

  <input type="submit" value="Add Engineer" />
}