@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models

<h2>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h2>

@if (Model.JoinEntities.Count == 0)
{
  <p>This engineer is not licensed to any machines yet</p>
}
else
{
  <h4>
  Status:     
    @if (Model.Idle == true)
    {
      <span>Idle</span>
    }
    else
    {
      <span>Repairing</span>
  }
</h4>
<h4>Location: @Model.Location.City, @Model.Location.Country</h4>
<h4>Licensed Machines under Operation:</h4>
  <table class="table-bordered">
    <th scope="col">Machine</th>
    <th scope="col">Last Maintanence</th>
    @foreach(EngineerMachine join in Model.JoinEntities)
    {
      <tr>
        <td>@join.Machine.Name</td>
        <td>@join.Machine.LastMaintenance</td>
      </tr>
    }
  </table>

}


@Html.ActionLink("Edit Engineer Info", "Edit", new { id = Model.EngineerId }, new { @class = "btn" })
@Html.ActionLink("Add Machine License", "AddMachine", new { id = Model.EngineerId }, new { @class = "btn" })
@Html.ActionLink("Delete", "Delete", new { id = Model.EngineerId }, new { @class = "btn" })

