@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Edit Engineer</h2>

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <div class="radio-form">
    @Html.LabelFor(model => model.Idle)
    @Html.RadioButtonFor(model => model.Idle, "true")
    <label for="Idle">Repairing</label>
    @Html.RadioButtonFor(model => model.Idle, "false")
  </div>

  <p>@Html.LabelFor(model => model.Location): @Html.DropDownList("LocationId")</p>

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Cancel", "Details", new { id = Model.EngineerId }, new { @class="btn" })</p>