@{
  Layout = "_Layout";
  List<Machine> allMachines = ViewBag.machines;
  List<Engineer> allEngineers = ViewBag.engineers;
}

@using Factory.Models

<h1>The Doctor Is In!</h1>

<div class="splash-container">
  <div class="splash-animation"></div>
  <div class="machine-col">
    <h2>Machines</h2>
    @if (allMachines.Count == 0)
    {
      <p>There are no machines in your factory</p>
    }
    else
    {
      <table class="table-bordered">
        <th scope="col">Name</th>
        <th scope="col">Last Maintanence Date</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>

      @foreach (Machine machine in allMachines)
      {
        <tr>
          <td>@machine.Name</td>
          <td>@machine.LastMaintenance</td>
          <td>@machine.Status</td>
          <td>@machine.Location.City, @machine.Location.Country</td>
        </tr>
      }
      </table>
    }
  </div>

  <div class="engineer-col">
    <h2>Engineers</h2>
    @if (allEngineers.Count == 0)
    {
      <p>There are no engineers</p>
    }
    else
    {
      <table class="table-bordered">
        <th scope="col">Name</th>
        <th scope="col">Status</th>
        <th scope="col">Location</th>

        @foreach (Engineer engineer in allEngineers)
        {
          <tr>
            <td>@engineer.Name</td>
            @if (engineer.Idle == true)
            {
              <td>Idle</td>
            }
            else
            {
              <td>Repairing</td>
            }
            <td>@engineer.Location.City, @engineer.Location.Country</td>
          </tr>
        }
      </table>
    }
  </div>
</div>